# 部署说明

# 考虑到 mysql, redis, Nginx 可能被多个服务共用，所以拆分到公共的 docker-compose-common.yml 中

# environment: 容器默认使用 UTC 时间，通过 environment 设置 TZ=Asia/Shanghai 使之变为本地时间.
#             为了避免重复修改，可通过读取配置文件内容来提升灵活性.

# volumes: 为了方便代码部署到不同的服务器，路径最好使用相对路径，不要用绝对路径。

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - '3306:3306'
    volumes:
      - ./mysql/data:/var/lib/mysql
      # 参考 https://dev.mysql.com/doc/refman/8.0/en/option-files.html
      # MySQL 会读取 /etc/my.cnf 文件，文件里面的 !includedir /etc/mysql/conf.d/ 会读取 /etc/mysql/conf.d/ 目录里面的配置文件
      - ./mysql/conf.d:/etc/mysql/conf.d
    environment:
      - TZ=Asia/Shanghai
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    networks:
      - backend

  redis:
    image: redis:8.0
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - ./redis/data:/data
      - ./redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - TZ=Asia/Shanghai
    networks:
      - backend

  nginx:
    image: nginx:1.27
    container_name: nginx
    restart: always
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/logs:/var/log/nginx
      - ../frontend/:/frontend
    environment:
      - TZ=Asia/Shanghai
    networks:
      - backend

  # jenkins: 可选。
  # jenkins:
  #   image: jenkins/jenkins:2.479.1-lts-jdk17
  #   container_name: jenkins
  #   restart: always
  #   ports:
  #     - "8080:8080"
  #     - "50000:50000"
  #   volumes:
  #     - ./jenkins/data:/var/jenkins_home
  #   user: root
  #   environment:
  #     - TZ=Asia/Shanghai
  #     - JAVA_OPTS=-Duser.timezone=Asia/Shanghai

# 为了保证各容器之间的通信，强烈推荐把不同的服务放到同一个 network
networks:
  backend:
    external: true
