services:
  python_talk:
    image: python_talk:0.0.1
    container_name: python_talk
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai
    # Gunicorn 会在 /app 目录下寻找 entrypoint 模块, 因为 是将 backend 挂载到 /app, 所以用 python_talk.entrypoint，
    # 而不是 entrypoint
    command: gunicorn -w 4 -b 0.0.0.0:5000 python_talk.entrypoint:app
    depends_on:
      - scrapyd
    networks:
      - backend


  scrapyd:
    image: python_talk:0.0.1
    container_name: scrapyd
    working_dir: /app/booksbot
    volumes:
      - .:/app
      - ./scrapyd/data:/var/lib/scrapyd
      - ./booksbot/logs:/app/booksbot/logs
    environment:
      - TZ=Asia/Shanghai
      - SCRAPYD_BIND_ADDRESS=0.0.0.0
      - PYTHONPATH=/app:/app/python_talk:$PYTHONPATH
    user: root
    command: scrapyd
    ports:
      - "6800:6800"
    networks:
      - backend

  scheduler:
    image: python_talk:0.0.1
    container_name: scheduler
    volumes:
      - .:/app
    command: python -m python_talk.scheduler.runner
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - backend

networks:
  backend:
    external: true