# requirements.in
# ; sys_platform == "win32" 手动写

APScheduler==3.11.2
dotenv==0.9.9
flask==3.1.2
flask-cors==6.0.2
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
flask-smorest==0.46.2
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0;sys_platform != "win32"
marshmallow==4.2.0
pip-tools==7.5.2
PyMySQL==1.1.2
python-dotenv==1.2.1
pywin32==311; sys_platform == "win32"
redis==7.1.0
requests==2.32.5
Scrapy==2.13.4
scrapyd==1.6.0
scrapyd-client==2.0.3
